/*
/* TAB SWITCHER
/*-----------------------------------------------------*/


.tabswitcher {
	width: 100%;
	margin-bottom: 1em;
	position: relative;
}

	.tabswitcher .tabnav {
		margin-bottom: 1em;
		position: relative;
	}
		.tabswitcher .tabnav > ul {
			list-style: none;
		}
		.tabswitcher .tabnav > ul > li {
			display: inline-block;
		}
		.tabswitcher .tabnav > ul > li > a {
			display: block;
			color: #010101;
			text-align: center;
			text-decoration: none;			
			background: #dcdcdc;
			padding: 0.5em 1em;
		}
		.tabswitcher .tabnav > ul > li > a.active {
			color: #fff;
			background: #333;
		}
		.tabswitcher .tabnav > ul > li > a:hover,
		.tabswitcher .tabnav > ul > li > a:focus {
			color: #fff;
			background: #787878;
		}

	.tabswitcher .tabpanels {}
		.tabswitcher .tabpanels > article {
			padding: 1em;
			position: relative;
		}
		.tabswitcher .tabpanels > article:focus {
			/* note: focus style is meant merely for demo purpose (is not necessary to meet accessibility reqs) */
			background: #efefef;
		}
