/*
/* TAB SWITCHER
/*-----------------------------------------------------*/


.tabswitcher {
	width: 100%;
	margin-bottom: 1em;
	position: relative;
}

	.tabswitcher .tabnav {
		margin-bottom: 1em;
		position: relative;
	}
		.tabswitcher .tabnav > ul {
			list-style: none;
			margin: 0;
		}
		.tabswitcher .tabnav > ul > li {
			display: inline-block;
			margin: 0;
		}
		.tabswitcher .tabnav > ul > li > a {
			display: block;
			color: #101010;
			text-align: center;
			text-decoration: none;
			background: #dcdcdc;
			padding: 0.5em 1em;
		}
		.tabswitcher .tabnav > ul > li > a.active {
			color: #fff;
			background: #333;
		}
		.tabswitcher .tabnav > ul > li > a:hover,
		.tabswitcher .tabnav > ul > li > a:focus {
			color: #fff;
			background: #787878;
		}

	.tabswitcher .tabpanels {
		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
	}

	.tabswitcher .tab-panel {
		overflow: hidden;
		position: relative;
	}
		.tabswitcher .tab-panel > .panel-content {
			padding: 1.5em;
			position: relative;
		}
	.tabswitcher .tab-panel:focus {
		/* note: focus style is meant merely for demo purpose (is not necessary to meet accessibility reqs) */
		background: #f9f9f9;
	}
